@font-face {
  font-family: Rozha;
  src: url("./fonts/19925.ttf");
}
body {
  margin: 0;
  padding: 0;
  font-family: Rozha;
  background-color: #2A2D34;
  color: #00C2D1;
}
ul {
  list-style: none;
}
p {
  padding: 0;
  margin: 0;
}

/*Header*/
header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 0px 5%;
}
.header-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-transform: uppercase;
  flex-grow: 1;
}

.header-logo p {
  text-transform: uppercase;
  letter-spacing: .5em;
  padding: 1.5em 0em;
}

.header-logo p span {
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255,255,255,.5);
  background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
.header-menu {

}

.header-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 2;
}

.header-menu ul li a {
  text-decoration: none;
  color: #ef6017;
  margin: 30px;
  font-size: 15px;
  font-weight: 700;
}

.header-menu ul li a:hover {
  color: #00C2D1;
}

/*Button*/
.button {
position: relative;
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  color:seashell;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.2s;
}
.button__line {
  position: absolute;
  display: block;
}
.button__line--top {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ef6017);
}
.button:hover .button__line--top {
  left: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.button__line--bottom {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ef6017);
}
.button:hover .button__line--bottom {
  right: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.button__line--left {
   bottom: -100%;
   left: 0;
   width: 2px;
   height: 100%;
   background: linear-gradient(0deg, transparent, #ef6017);
 }
.button:hover .button__line--left {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0s;
}
.button__line--right{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(0deg, transparent, #ef6017);
}
.button:hover .button__line--right {
  top: 100%;
  transition: 1s;
  transition-delay: 0s;
}
.button:hover{
  box-shadow: 0 0 10px #ef6017 , 0 0 40px #ef6017, 0 0 80px #ef6017;
  transition-delay: 1s;
  background-color:#ef6017 ;
  color: black;
}

/*Promo*/
   .promo {
     display: flex;
     width: 100%;
     justify-content: space-between;
     align-items: center;
     background: url(img/forest-931706_1280.jpg) no-repeat;
     background-size: cover;
     background-position: center;
     height: 88vh;
     box-shadow: 0 30px 43px rgba(0,194,209,0.2);
   }
   .promo-text {
     display: flex;
     flex-direction: column;
     align-items: center;
     color: seashell;
     padding: 0 10%
   }
   .promo-text h1 {
     margin: 0;
     padding: 0;
   }


/* Portrait tablets and medium desktops */
@media (min-width: 1100px) and (max-width: 1260px) {
.promo-logo img {
  width: 400px;
}

}

/* Portrait tablets and small desktops */
@media (min-width: 845px) and (max-width: 1099px) {
  .promo-logo img {
    width: 400px;
  }
  .promo-text {
    padding: 0 0 0 5%;
  }


}

/* Landscape phones and portrait tablets */
@media (max-width: 844px) {
  .promo {
    flex-direction: column;
  }
  .promo-text {
   margin-top: 10%;
  }
  .header-menu ul li a {
    margin: 10px;
  }

}

/* Landscape phones and smaller */
@media (max-width: 523px) {
  .promo-text h1 {
    font-size: 23px;
  }

}
